{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% block title %}
    {% endblock title %}
    {% block css %}
    {% endblock css %}
    <link rel="stylesheet" href=" {% static '/css/navigation.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/footer.css' %}">
    <link rel="icon" href=" ../static/icons/logo2.png" type="image/gif" sizes="25x25">



    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


        @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

        *::selection {
            color: white;
            background-color: black;
        }

        .navlinks {
            left: 0px !important;
        }

        .heading-text {
            width: 85% !important;
        }

        .input button {
            height: 3.2em;
            width: 14em;
        }

        a {
            color: black;
            text-decoration: none;
        }

            {
            % block plaincss %
        }

            {
            % endblock plaincss %
        }
    </style>
</head>



<body>
    <nav id="jsnav" class="navigation-bar">
        <div class="navcontainer">
            <div class="nav-container">
                <img id="ham" src="../static/icons/ham.png" alt="">
                <div class="logo" onclick="window.location.href='/'">
                    <img src=" ../static/icons/logo2.png" style=" height: 3.2em;" alt="">
                </div>



            </div>

            <ul>

                <li><a href="/">Home</a></li>
                <li><a href="/search/2">Foods</a></li>
                <li><a href="/search/1">Lifestyle</a></li>
                <li><a href="/search/3">Guide</a></li>
                <li><a href="/search/4">Facts</a></li>
                <li><a href="/search/5">Fitness</a></li>



            </ul>
            <div class="search-image">
                <img src="../static/icons/search.png" alt="">



            </div>

        </div>

    </nav>
    <div class="searchbar" style="z-index:100000;">
        <div class="input">
            <div id="searchcross">
                <img src="../static/icons/cross.png" alt="">

            </div>
            <form action="/search/keyword" method="get">
                <input type="text" placeholder="Enter keyword" spellcheck="false" name="keyword">
                <button type="submit"> Search </button>


            </form>


        </div>

    </div>

    <ul class="navlinks">

        <div class="heading-text">
            <a href="/" style="color: black; text-decoration: none;margin-left: 0.5em;">RavenScribe</a>


            <img id="hamcross" src="../static/icons/cross.png" alt="" style="margin-top: 2px;">
        </div>

        <a href="/">
            <li>Home <div class="arrow"><img src="../static/icons/arrow.png" alt="" style="height: 16px;"></div>
            </li>
        </a>

        <a href="/search/2">
            <li>Foods<div class="arrow"><img src="../static/icons/arrow.png" alt="" style="height: 16px;"></div>
            </li>
        </a>
        <hr>
        <a href="/search/1">
            <li>Lifestyle<div class="arrow"><img src="../static/icons/arrow.png" alt="" style="height: 16px;"></div>
            </li>
        </a>
        <hr>
        <a href="/search/3">
            <li>Guide<div class="arrow"><img src="../static/icons/arrow.png" alt="" style="height: 16px;"></div>
            </li>
        </a>
        <hr>
        <a href="/search/4">
            <li>Facts<div class="arrow"><img src="../static/icons/arrow.png" alt="" style="height: 16px;"></div>
            </li>
        </a>
        <hr>
        <a href="/search/5">
            <li>Fitness<div class="arrow"><img src="../static/icons/arrow.png" alt="" style="height: 16px;"></div>
            </li>
        </a>
        <hr>
        <a href="/about">
            <li>About<div class="arrow"><img src="../static/icons/arrow.png" alt="" style="height: 16px;"></div>
            </li>
        </a>
        <hr>
        <a href="/contact">
            <li>Contact<div class="arrow"><img src="../static/icons/arrow.png" alt="" style="height: 16px;"></div>
            </li>
        </a>
        <div class="social">
            <div class="title" style="text-align: center;    margin-top: 2em;">
                Follow
            </div>
            <div class="logos">
                <img src="../static/icons/facebook.png" alt="">
                <img src="../static/icons/instragram.png" alt="">
                <img src="../static/icons/gmail.png" alt="" onclick="window.open('/email')">

            </div>

        </div>



    </ul>
    {% block body %}

    {% endblock body %}
    <div id="footerspace" style="width: 100%; height: 4em; "></div>


    <div class="footer">
        <div class="footerlogo">
            <a href="/">
                <img src="../static/icons/logo.png" alt="">
            </a>

        </div>
        <div class="navigation-footer">
            <ul>
                <li><a href="/about">ABOUT</a> </li>
                <li><a href="/contact">CONTACT</a> </li>
                <li><a href="/search/1">LIFESTYLE</a> </li>
                <li><a href="/search/2">FOODS</a> </li>
                <li><a href="/search/5">GUIDE</a> </li>


            </ul>
        </div>
    </div>





</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script>

    $('document').ready(function () {
        let a = document.getElementById('ham');
        a.addEventListener('click', rotate)


        function rotate() {


            a.style.transform = 'rotate(-90deg)';

            setTimeout(() => {
                a.style.transform = 'rotate(0deg)';

            }, 500);

        }

        $('#searchcross').click(function () {
            // $('.searchbar').css({ 'z-index': '10', 'visibility': 'visible' })
            $('.searchbar').css({
                'z-index': '-50', 'visibility': 'hidden', 'opacity': '0', 'display': 'none'
            })

            // $('.searchbar').hide()

        })
        $('.search-image').click(function () {
            $('.searchbar').css({ 'z-index': '1000', 'visibility': 'visible', 'opacity': '.99', 'display': 'flex' })
            // $('.searchbar').show()

        })

        $('.navlinks a li').on('mouseover', function () {


            $(this).children('.navlinks a li div ').css({

                'visibility': 'visible',
                'opacity': '1',
                'transform': 'translateX(60px)',
            })

        }).on('mouseleave', function () {
            $(this).children('.navlinks a li div ').css({

                'transform': 'translateX(40px)',
                'opacity': '0',
                'visibility': 'hidden'
            })
        })

        const navslide = () => {
            const burger = document.querySelector('#ham')
            const nav = document.querySelector('.navlinks')
            const ham = document.querySelector('#hamcross')
            burger.addEventListener('click', () => {
                nav.classList.toggle('active')
            })
            ham.addEventListener('click', function () {
                nav.classList.toggle('active')
            })
        }
        navslide()



    })
    {% comment %} let button = document.querySelector('.input button')
    button.addEventListener('click', function () {
        let searched = document.querySelector('input')
        searched.value = '';


    }) {% endcomment %}
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("jsnav").style.top = "0px";
        } else {
            document.getElementById("jsnav").style.top = "-60px";
        }
        prevScrollpos = currentScrollPos;
    }
    {% block js %}
    {% endblock js %}





</script>

</html>