<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>

    <div class="footer">
        <div class="footerlogo">
        <a href="/">
             <img src="../static/icons/logo.png" alt="">
        </a>
       

        </div>
        <div class="navigation-footer">
            <ul>
                <li><a href="/about">ABOUT</a> </li>
                <li><a href="/contact">CONTACT</a> </li>
                <li><a href="/search/1">LIFESTYLE</a> </li>
                <li><a href="/search/2">FOODS</a> </li>
                <li><a href="/search/5">GUIDE</a> </li>
            </ul>
        </div>
    </div>

</body>

</html>