@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap');

a{
  text-decoration: none;
  color:black;
}
a:hover{
  
  text-decoration: none!important;
  color: black;
}
.wrapper {
    min-height: 15em;

    display: flex;
    overflow-x: auto;
    /* justify-content: center; */

    margin: auto 1em;
    display: none;




}

.wrapper .item {
    min-width: 15em;
    height: 15rem;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    /* margin: 12px 1em; */
    margin: auto 1em;
    display: flex;
    flex-direction: column;

    

}

.wrapper::-webkit-scrollbar {
    width: 0;
}
.items {
  display: flex;
  overflow-x: auto;
  margin: auto;
  align-items: center;
  width: 79rem;
  justify-content: center;



}

.items .moreon {
  min-width: 23em;

  height: 22rem;

  margin: 0% 0.6em;
  touch-action: manipulation;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Cabin, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  transition: .35s all ease;




}
.items .moreon:hover{
  filter: brightness(.849);

}

.items::-webkit-scrollbar {
  /* color: black; */
  display: none;


}




@media only screen and (max-width: 1244px) {
  .items {
    display: flex;
    overflow-x: auto;
    margin: auto;
    align-items: center;
    max-width: 69rem;
    height: 30em;
    justify-content: center;
    width: 100%;



  }



}

@media only screen and (max-width: 1244px) {
  .items .moreon {
    /* height: 17rem; */
    touch-action: manipulation;
    width: 100%;
    /* min-width: 19em; */
    margin: auto 8px;
    max-width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Cabin, Helvetica, Arial, sans-serif;
    color: whitesmoke;
    





  }

  @media only screen and (max-width: 1115px) {
      #carouselExampleIndicators{
          display: none;
      }
      .wrapper{
          display: flex;
      }
      .text{
        width: 100%!important;
      }
   

  }

}

.text {
  font-family: Cabin, Helvetica, Arial, sans-serif;

  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  padding: 20px 22px;
  text-align: center;
  /* width: 92%; {For gunicorn server update}*/
  width: 70%;
  margin: auto;
  height: 8em;
  /* margin: 0px 40px; */
}

.text:hover{
  opacity: 0.4;
  color:black;
  transition: .29s ease-in-out;
}

.carousel-indicators {
  bottom: 141px;
}

.items .moreon .text {
  transform: translateY(50px);
  visibility: hidden;
  transition: .35s all ease;
  opacity: 0;
  color: #ffffff;
  text-shadow: 3px 2px 4px black;
}